<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzf.springboot.dao.ManagerDao">

    <select id="queryManagerToLogin" resultType="Manager">
        select * from managertable where mphone=#{mphone} and mpassword=#{mpassword}
    </select>

    <select id="queryManagerList" resultType="com.xzf.springboot.pojo.Manager">
        select * from managertable
    </select>

    <select id="queryManagerListById" resultType="com.xzf.springboot.pojo.Manager">
        select * from managertable where managerid=#{id}
    </select>

    <select id="queryManagerListByMphone" resultType="Integer">
        select managerid from managertable where mphone=#{mphone}
    </select>

<!--    时间搜索-->
    <select id="search" resultType="com.xzf.springboot.pojo.Manager">
        select * from managertable
        <where>
            <if test="startTime != null and startTime != ''">
                AND datetime <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND datetime <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="userName != null and userName != ''">
                AND musername like '%${userName}%'
            </if>
        </where>
    </select>

    <insert id="addManager" parameterType="Manager">
            insert into managertable (managerid,mphone,mpassword,musername,power,mrole,datetime) values(#{managerid},#{mphone},#{mpassword},#{musername},#{power},#{mrole},#{datetime})
    </insert>

    <update id="updateManager" parameterType="Manager">
            update managertable set musername=#{musername},mphone=#{mphone},mpassword=#{mpassword},power=#{power},mrole=#{mrole} where managerid=#{managerid}
    </update>

    <update id="changeState" parameterType="Integer">
            update managertable set state=#{state} where managerid=#{id}
    </update>



    <delete id="deleteManager" parameterType="int" >
            delete from managertable where managerid=#{id}
    </delete>

</mapper>
